<%- include('header') -%>

<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/addfoodItem"><button class="btn btn-warning">Create Food Item</button></a>
    <a href="/showAllMeals"><button class="btn btn-success">Show All Meals</button></a>
    <a href="/createMealPlan"><button class="btn btn-danger">Create Meal plan for User</button></a>
  </div>

<%- include('footer.ejs') -%>