<%- include('header') -%>

<form method="post" action="/addmealplan">
    <div class="form-group">
        <label>User</label>
        <input name="username" value="Harshit" class="form-control" disabled readonly>
    </div>
    <div class="form-group">
        <label>Calorie Requirement</label>
        <input name="calreq" type="number" value="3000" class="form-control" disabled readonly>
    </div>
    <div class="mealsbody">
        <%- include('mealplan') -%>
    </div>
    <!-- <div class="form-group">
        <button class="btn" onclick="addMealPlan()"> + Another Meal</button>
    </div> -->
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add meal to the Plan</button>
    </div>
</form>
<!-- <script>
    function addMealPlan() {
        const html = ejs.render("mealpal");
        $(".mealsbody").append(html);
    }
</script> -->
<%- include('footer') -%>